.navbar.navbar-inverse.navbar-fixed-top{ role: 'banner' }
  .navbar-inner
    .container
      %a.btn.btn-navbar{ data: { toggle: 'collapse', target: '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{ href: '/' } Big Data University
      %ul.nav.pull-right
        - %w[ login register ].each do |tab|
          %li
            %a{ href: "/#{tab}" }= tab.capitalize
      .nav-collapse
        %ul.nav
          - %w[ courses acm-icps downloads resources ].each do |tab|
            - case tab
            - when "acm-icps"
              %li.disabled
                %a{ href: "/#{tab}" }= tab.upcase
            - else
              %li
                %a{ href: "/#{tab}" }= tab.capitalize
