.navbar.navbar-inverse.navbar-fixed-top{ role: 'banner' }
  .navbar-inner
    .container
      %a.btn.btn-navbar{ data: { toggle: 'collapse', target: '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{ href: '/' }
        %img{ src: '/img/bdu-logo.png', alt: 'Big Data University' }
      %ul.nav.pull-right
        - auth = %w[ login register ]
        - auth.each do |tab|
          %li{ class: tab == auth.last ? 'omega' : '' }
            %a{ href: "/#{tab}" }= tab.capitalize
      .nav-collapse
        %ul.nav
          - %w[ courses acm-icpc downloads resources ].each do |tab|
            - case tab
            - when "acm-icpc"
              %li.disabled
                %a{ href: "/#{tab}" }= tab.upcase
            - else
              %li
                %a{ href: "/#{tab}" }= tab.capitalize
