.container
  %form.form-search.pull-right{ role: 'search' }
    .input-append
      %input.search-query.input-medium#appendedInput{ name: 'q', type: 'search', placeholder: 'Search courses...' }
      %button.btn.btn-inverse{ type: 'submit' }
        %i.icon-search.icon-white