.modal-header
  %button.close{ type: 'button', 'aria-hidden' => 'true', data: { dismiss: 'modal' } } &times;
  %h3#Marius
    What is Hadoop?
.modal-body
  %iframe{ src: 'http://player.vimeo.com/video/55948633?title=0&byline=0&portrait=0&badge=0&autoplay=1', width: '530', height: '368', frameborder: '0', webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
.modal-footer
  %p.pagination-centered
    %small Akmal&nbsp;Chaudhri on Hadoop and Big&nbsp;Data
